# DB env variables
MYSQL_ROOT_PASSWORD=<my-secret-pw>
MYSQL_DATABASE=powerdns-auth
MYSQL_USER=powerdns-auth
MYSQL_PASSWORD=<password>

# DNS server env variables
PDNS_AUTH_MYSQL_MODE=master
PDNS_BACKEND=mysql
PDNS_DB_HOSTNAME=mysql
PDNS_DB_DATABASE=<MYSQL_DATABASE>
PDNS_DB_USERNAME=<MYSQL_USER>
PDNS_DB_PASSWORD=<MYSQL_PASSWORD>

