# DNS Server DB env variables
SVR_MYSQL_ROOT_PASSWORD=<my-secret-pw>
SVR_MYSQL_DATABASE=powerdns-auth
SVR_MYSQL_USER=powerdns-auth
SVR_MYSQL_PASSWORD=<password>
SVR_SERVER_ID=1

# DNS server env variables
PDNS_AUTH_MYSQL_MODE=master
PDNS_BACKEND=mysql
PDNS_DB_HOSTNAME=db-server
PDNS_DB_DATABASE=<MYSQL_DATABASE>
PDNS_DB_USERNAME=<MYSQL_USER>
PDNS_DB_PASSWORD=<MYSQL_PASSWORD>
PDNS_AUTH_API_KEY=<changeme>


# Admin DB env variables
ADM_MYSQL_ROOT_PASSWORD=<my-secret-pw>
ADM_MYSQL_DATABASE=pda
ADM_MYSQL_USER=pda
ADM_MYSQL_PASSWORD=<password>
ADM_SERVER_ID=1

# Management env variables

#ADMIN_WEB_PORT=        # Defaults to 80 if not set
SQLALCHEMY_DATABASE_URI=mysql://pda:<MYSQL_PASSWORD from above>@db-admin/pda
# Flask secret key (see https://flask.palletsprojects.com/en/2.0.x/config/#SECRET_KEY for how to generate)
SECRET_KEY=


