# DB env variables
MYSQL_ROOT_PASSWORD=<my-secret-pw>
MYSQL_DATABASE=powerdns-auth
MYSQL_USER=powerdns-auth
MYSQL_PASSWORD=<password>

# DNS env variables


# Management env variables
SQLALCHEMY_DATABASE_URI=mysql://pda:changeme@host.docker.internal/pda
# Flask secret key (see https://flask.palletsprojects.com/en/2.0.x/config/#SECRET_KEY for how to generate)
SECRET_KEY=
