# DB env variables
MYSQL_ROOT_PASSWORD=<my-secret-pw>
MYSQL_DATABASE=powerdns-auth
MYSQL_USER=powerdns-auth
MYSQL_PASSWORD=<password>
MYSQL_SERVER_ID=<unique id for your deployment>

# PowerDNS Server env variables
PDNS_AUTH_MYSQL_MODE=slave
PDNS_REPL_HOSTNAME=
PDNS_REPL_USERNAME=
PDNS_REPL_PASSWORD=
PDNS_REPL_DATABASE=

PDNS_REPL_ROOT_USER=
PDNS_REPL_ROOT_PASSWORD=
